html, body {
  color: #333333;
  font-family: 'Raleway', sans-serif;
}

//.full-height {
//  height: calc(100vh - 55px);
//}
//
//.flex {
//  display: flex;
//}
//
//.flex-col {
//  flex-direction: column;
//}
//
//.flex-row {
//  flex-direction: row;
//}
//
//.flex_item {
//  flex: 1;
//  flex-basis: fit-content;
//}
//
//#container {
//  .menu-container {
//    width: 230px;
//    padding: 10px 0;
//    border-right: 1px solid #ddd;
//  }
//
//  .content-container {
//    padding: 10px 15px;
//  }
//
// #menus {
//   ul{
//     list-style:none;
//     li {
//       padding: 10px 0;
//       font-size: 20px;
//       a {
//         color: #636b6f;
//         text-decoration: none;
//       }
//     }
//   }
// }
//}

#menus {
  ul {
    list-style:none;
    padding: 8px 0 0 16px;
    li {
      padding-bottom: 16px;
      a {
        font-size: 20px;
        text-decoration: none;
      }
      a:link {
        color: #444444;
      }
      a:visited {
        color: #444444;
      }
      a:hover {
        color: #636b6f;
      }
    }
  }
}
