<% layout('layout/layout') %>
<div class="content_style">
    <h2>Manage Boards</h2>
    <div>
        <form id="form" action="/admin/board" method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function (){
    const boards = <%- JSON.stringify(data) %>;
    console.log(boards);
    for(let i in boards) {
      document.querySelector('#form').appendChild(elInput(boards[i]));
    }
  });

  function elInput(boards) {
    const divInput = document.createElement('div');
    const inputName = document.createElement('input');
    const inputDescription = document.createElement('input');
    const inputIsUse = document.createElement('input');


    inputName.id = boards.name;
    inputName.name = boards.name;
    inputName.value = boards.name;
    inputName.type = 'text';
    inputName.placeholder = '게시판 이름';

    inputDescription.id = `${boards.name}_description`;
    inputDescription.name = `${boards.name}_description`;
    inputDescription.value = boards.description;
    inputDescription.type = 'text';
    inputDescription.placeholder = boards.description;

    inputIsUse.id = `${boards.name}_is_use`;
    inputIsUse.name = `${boards.name}_is_use`;
    inputIsUse.value = boards.is_use;
    inputIsUse.type = 'text';
    inputIsUse.placeholder = '사용 여부';

    divInput.appendChild(inputName);
    divInput.appendChild(inputDescription);
    divInput.appendChild(inputIsUse);

    return divInput;
  }
</script>
