<% layout('layout/layout') %>
<div class="content_style">
    <div>
        <form id="form" action="/admin/settings" method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (){
      const systemMetadata = <%- JSON.stringify(systemMetadata) %>;
      for(let i in systemMetadata) {
        document.querySelector('#form').appendChild(elInput(systemMetadata[i]));
      }
    });

    function elInput(systemMetadata) {
      const divInput = document.createElement('div');
      const label = document.createElement('label');
      const input = document.createElement('input');

      label.for = systemMetadata.name;
      label.innerText = `${systemMetadata.name}(${systemMetadata.description})`;
      input.id = systemMetadata.name;
      input.name = systemMetadata.name;
      input.value = systemMetadata.data;
      input.type = 'text';
      input.placeholder = systemMetadata.description;

      divInput.appendChild(label);
      divInput.appendChild(input);

      return divInput;
    }
</script>
