<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="flex-center position-ref full-height">
    <div class="content">
        <form action="/auth/<%= page %>" method="post" onsubmit="passwordHashing()">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <h1><%= title %></h1>
            <%if(page == 'register'){%>
                <input id="name" type="text" name="name" placeholder="name">
            <%}%>
            <input id="email" type="email" name="email" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}">
            <input id="password" type="password" name="password" placeholder="password" pattern="(.{6,})">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>

<script>
function passwordHashing() {
  const elPassword = document.querySelector('#password');
  const objHash = new jsSHA("SHA-512", "TEXT", {numRounds: 1});
  objHash.update(elPassword.value);
  const hash = objHash.getHash("HEX");
  elPassword.value = hash;
  console.log(hash);
}
</script>

</body>
</html>
