<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
  <meta name="viewport" content="width=device-width"/>

  <title><%= title %> :: Admin</title>
  <link rel="stylesheet" href="/stylesheets/admin/style.css">
</head>
<body class="layouts">

<div class="flex flex-col">
  <header id="header">
    <hgroup class="flex">
      <div class="logo">
        <img src="/images/weaver-logo.png" alt="logo" height="30px">
      </div>
      <div class="title">
        <%= title %>
      </div>
    </hgroup>
  </header>

  <container id="container" class="flex full-height">
    <div class="menu-container">
      <% include ./menu %>
    </div>
    <div class="content-container">
      <%- body %>
    </div>
  </container>
</div>

</body>
</html>
