<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
  <meta name="viewport" content="width=device-width"/>

  <title><%= title %> :: Admin</title>

</head>
<body>
<header id="header">
  <hgroup>
    <h1 class="logo">Logo</h1>
    <h2 class="theme">Project</h2>
  </hgroup>
  <% include ./menu %>
</header>

<%- body %>

<footer id="footer">
  <p class="footer__info">Info</p>
  <p class="copyright">Copyright &copy; <%= title %> All right reserved</p>
</footer>
</body>
</html>
