<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
  <meta name="viewport" content="width=device-width"/>

  <title><%= title %> :: Admin</title>
  <link rel="stylesheet" href="/stylesheets/admin/style.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
</head>
<body>
  <div style="display: flex; height: 100vh;">
    <div style="padding: 16px 40px 16px 16px;">
      <div style="height: 100px; display: flex; align-items: center">
        <img src="/images/weaver-logo.png" alt="logo" height="72px">
        <div style="font-size: 48px; padding-left: 8px"><%= title %></div>
      </div>
      <div style="overflow: auto; padding: 0px 16px">
        <% include ./menu %>
      </div>
    </div>
    <div style="width: 1px; background: rgba(0,0,0,0.37)"/>
    <div style="padding: 32px 40px">
      <%- body %>
    </div>
  </div>
</body>
</html>
