<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
  <meta name="viewport" content="width=device-width"/>

  <title><%= title %> :: Admin</title>

</head>
<body class="layouts">

<div class="full height">
  <div class="main_manu">
    <header id="header" class="full width">
      <hgroup>
        <h1 class="logo">Logo</h1>
        <h2 class="theme">Project</h2>
      </hgroup>
    </header>
  </div>
  <div>
    <% include ./menu %>
    <container>
      <%- body %>
    </container>
    <footer id="footer">
      <p class="footer_info">Company Info</p>
      <p class="copyright">Copyright &copy; <%= title %> All right reserved</p>
    </footer>
  </div>
</div>

</body>
</html>
