<div class="">
    <div id="menus" class=""></div>
</div>

<script>
    const menus = <%- JSON.stringify(menus) %>;
    console.log(menus);

    document.addEventListener('DOMContentLoaded', function (){
      document.querySelector('#menus').appendChild(createMenu(menus));
    });

    function createMenu(menus) {
      const ul = document.createElement('ul');
      for( let i = 0, l = menus.length; i < l; i += 1 ) {
        const menu = menus[i];
        ul.appendChild(elList(menu));
      }

      return ul;
    }

    function elList(menu) {
      const li = document.createElement('li');
      const a = document.createElement('a');
      a.href = menu.uri;
      a.innerText = menu.name;

      li.appendChild(a);

      if (menu.children.length !== 0) {
        console.log('.');
        const ul = document.createElement('ul');
        for( let i = 0, l = menu.children.length; i < l; i += 1 ) {
          const child = menu.children[i];
          console.log(child);
          ul.appendChild(elList(child))
        }

        li.appendChild(ul);
      }

      return li;
    }

</script>
